         
          <h1 style="text-align: center" modal-title" >User Registration</h1>
        
      	<form name="newForm" novalidate  ng-submit="submit()">
  
        		
        		<div class="left">
        			 <label>  User Name: </label> 
        			<input type="text" name="username"  ng-model="username"  placeholder="Enter User Name" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[a-zA-Z0-9]*$/" required/>
        			<span style="color:red" ng-if="newForm.username.$error.required"> This field is required</span>
        			 <span style="color:red" class="error" ng-show="newForm.username.$error.pattern">Username must be letters and numbers only.</span>
        			
        			   
  		</div>
              
         		<div class="right">
        	<!-- <input type="text" name="password" ng-model="password" placeholder="Enter Password" ng-required="true">
        			<span style="color:red" ng-if="newForm.password.$invalid"> This field is required</span> -->
        		<div class="form-group" ng-class="{'has-error':!newForm.password.$valid}"><label for="password">Password</label>
                <input class="form-control" type="password" name="password" required=""  ng-minlength="8" maxlength="8" ng-model="Password" />
                 <span style="color:red" class="help-block" ng-show="newForm.password.$error.required">This is required.</span></div>
                         <span style="color:red" ng-show="newForm.password.$error.minlength">
                           Your Password Should be of length 8</span>
                 
        		
        		</div>
        		
        		
        		
   				<div class="right">
  			 		<!-- <label>Re-enter Password: </label>
        			<input type="text" name="reenterpassword" ng-model="reenterpassword" class="form-control input-fields" placeholder="Enter Password" ng-required="true">
        			<span style="color:red" ng-if="newForm.reenterpassword.$invalid"> This field is required</span>
 -->        		
 				<div class="form-group" ng-class="{'has-error':!newForm.passwordCompare.$valid}"><label for="passwordCompare">Confirm Password</label>
				 <input class="form-control" type="password" name="passwordCompare" required="" minlength="8" maxlength="8" ng-model="PasswordCompare" ng-match="Password" />
 				<span style="color:red" class="help-block" data-ng-show="newForm.passwordCompare.$error.required">This is required.</span>
 				<span style="color:red" class="help-block" data-ng-show="Password !=PasswordCompare">Passwords do not match.</span></div>
 
 
 </div>
        		
 
		<div class="left">
        			
        		<p>First Name:	<input type="text" name="firstname" ng-model="firstname" required /></p>
        			<span style="color:red" ng-if="newForm.firstname.$invalid"> This field is required</span>
        		</div>
  
		<div class="right">
        			<p>Last Name: <input type="text" name="lastname" ng-model="lastname" required ></p>
        			<span style="color:red" ng-if="newForm.lastname.$invalid"> This field is required</span>
        		</div>
		 <div class="left">
        			<p>Email ID: <input type="email" name="string" ng-model="string" required /></p>
        			<span style="color:red" class="error" ng-show="newForm.string.$error.required">
    					Required!</span>
  					<span style="color:red" class="error" ng-show="newForm.string.$error.email">
   						 Not valid email!</span>

</div>
<div class="right">

<p>Contact : +91 <input type="text" name="phoneno" ng-model="phoneno" placeholder="Phone" ng-minlength="10" maxlength="10"  ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required/> 
     <span style="color:red" class="error" ng-show="newForm.phoneno.$dirty && newForm.phoneno.$invalid">Numbers Required!</span>
 		<!-- <span style="color:red" class="error" ng-show="newForm.phoneno.$error.pattern">Numbers Required.</span> -->
      <span style="color:red" class="error" ng-show="newForm.phoneno.$error.minlength">Phone no not less that 10 char.</span>
      <span style="color:red" class="error" ng-show="newForm.phoneno.$error.maxlength">Phone no not more than 11 char.</span>
  </p>          
</div>

	<div class="row" >
	<label>Address 1:</label>
	<input type="text" name="add1" ng-model="add1" class="form-control input-fields" placeholder="Enter address" ng-required="true">
	<span style="color:red" ng-if="newForm.add1.$invalid"> This field is required</span>
	
	</div>

	<div class="row">
		<label>Address 2:</label>
		<input type="text" name="add2" ng-model="add2" placeholder="Enter address"> 
	</div>

 	<div class="row">
   			<label> Country  : </label>
   			<input type="text" name="Country"  ng-model="Country"  class="form-control input-fields" placeholder="India" ng-required="true">
	</div>
	

	
	<div class="row">
		<label> State : </label>
		
             <select ng-model="selectedState" ng-change="changeState()">
       		<option ng-repeat="state in states" value="{{state}}">{{state}}</option>
		</select>		   
			
	</div>
	
		
	<div class="row">
		<label> City : </label>
		
             <select ng-model="selectedCity">
       		<option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
		</select>		   
			
	</div>
	
	<div class="row">
	<label>DOB :</label>
        			<input type="date" name="birth"  ng-model="birth"  class="form-control input-fields" placeholder="date of birth" ng-required="true">
        			<span style="color:red" ng-if="newForm.birth.$invalid"> This field is required</span>
	
</div>

<div class="btn">
          <input type="submit">
        </div>


</form>
